@import "src/basic/var.scss";

.btn__phone-m,
.btn__modal,
.modal-btn {
  display: none;
  background-color: $color-btn;

  @media (min-width: 1440px) {
    transform: translateX(1440px);
    transition: 950ms ease;
    position: absolute;
    z-index: 100;
    top: 32px;
  }

  &--active {
    @media (min-width: 1440px) {
      transform: translateX(928px);
      transition: 950ms ease;
      display: block;
    }
  }
}
